* {
	padding:0px;
	margin:0px;
	font-family:Montserrat;
	box-sizing:border-box;
}

.container {
	width:1024px;
	max-width:100%;
	margin:0px auto;
}

#search {
	margin:8px 8px 12px 8px;
}

/*
 * Header Panel
 */
#webApp-header {
	position:relative;
	background-color:#0878dd;
	height:60px;
	box-shadow:0px 1px 10px 1px rgba(69, 65, 78, 0.5);
	z-index:2;
}

#webApp-header .logo {
	position:absolute;
	top:9.5px;
	left:28px;
}

#webApp-header .logo img {
	width:160px;
}

#webApp-header .menu__right {
	position:absolute;
	right:20px;
	top:18px;
}

#webApp-header .menu__right a {
	margin:3px;
	vertical-align:middle;
	cursor:pointer;
}

#webApp-header .menu__right img {
	width:26px;
}

#webApp-header .menu__right a.onlyMobile {
	display:none;
}

@media only screen and (max-width: 600px){
	#webApp-header .menu__right a.onlyMobile {
		display:unset;
	}
}

/*
 * Main Left Menu
 */
#webApp-main {
	display:flex;
	background-color:#f0eff6;
	min-height:calc(100% - 60px);
}

#webApp-main__menu {
	display:inline-block;
	background-color:#fff;
	width:280px;
	min-height: 100%;
	vertical-align:top;
	padding:16px;
	box-shadow:0px 0px 5px 1px rgba(69, 65, 78, 0.5);
	z-index:1;
}

#webApp-main__menu .header {
	padding-bottom:8px;
	border-bottom:solid 2px #eae9ed;
}

#webApp-main__menu .header .avatar {
	display:inline-block;
	margin-right:8px;
	vertical-align:middle;
}

#webApp-main__menu .header .avatar img {
	max-width:64px;
}

#webApp-main__menu .header .info {
	font-weight:600;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}

#webApp-main__menu .buttons {
	margin:16px 0px;
}

#webApp-main__menu .buttons a {
	text-decoration:none;
}

#webApp-main__menu .buttons ul li {
	padding:12px 8px;
	margin:4px 0px;
	transition:.4s;
	color:#000;
}

#webApp-main__menu .buttons ul li:hover {
	background-color:#f0eff6;
	border-radius:5px;
}

#webApp-main__menu .buttons ul {
	list-style-type:none;
}

#webApp-main__menu .buttons ul li.selected {
	background-color:#0878dd;
	color:#fff;
	border-radius:5px;
}

#webApp-main__container {
	display:inline-block;
	width:calc(100% - 280px);
	min-height:100%;
	max-width:1124px;
	margin:0 auto;
	padding:16px;
}

#webApp-main__container > .description {
	margin:12px 0px;
	font-size:15px;
	color:#333;
}

#webApp-main__container > .title {
	font-size:32px;
    font-weight:600;
    color:#333;
}

#webApp-main__container .divisory {
	border-top:solid 1px #e1e1e7;
	margin:12px 0;
}

#webApp-main__container > .buttons {
    margin:8px 0px;
	text-align:right;
}

#webApp-main__container > .buttons a {
	display:inline-block;
}

#webApp-main__container > .content {
	position:relative;
	border-radius:5px;
	background:#fff;
	color:#73808c;
	box-shadow:0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
	padding:8px;
}

@media only screen and (max-width: 860px){
	#webApp-main__menu {
		position:fixed;
		top:0px;
		left:-280px;
		height:100%;
		overflow-y:auto;
		transition:left .7s;
		z-index:2;
	}
	
	#webApp-main__menu.active {
		left:0px;
	}
	
	#webApp-main__container {
		width:100%;
		padding:8px;
	}
}

/*
 * Buttons
 */
.btn {
	outline:none;
	cursor:pointer;
	border:none;
	border-radius:5px;
	font-size:15px;
	background:#cdd1d3;
	color:#fff;
	padding:8px 12px;
	text-decoration:none;
	transition:.4s;
}

.btn:hover {
	background:#bbc3c7;
}

.btn img {
	width:20px;
	vertical-align:middle;
}

.btn.btn-success {
	background:#28a745;
	color:#fff;
}

.btn.btn-success:hover {
	background:#2ab64f;
}

.btn.btn-primary {
	background:#0878dd;
	color:#fff;
}

.btn.btn-primary:hover {
	background:#0b5ea9;
}

.btn.btn-danger {
	background:#e74c3c;
	color:#fff;
}

.btn.btn-danger:hover {
	background:#c0392b;
}

/*
 * Sistem de Form
 */
form .field.hide {
	display:none;
}

form .field label {
	display:block;
	color:#333;
	font-size:15px;
	font-weight:600;
	letter-spacing:2px;
	margin-bottom:4px;
	margin-left:4px;
}

form .field input {
	padding:8px;
	border:solid 1px #eaeaea;
	border-radius:5px;
	outline:none;
}

form .field select {
	border:solid 1px #eaeaea;
	border-radius:5px;
	padding:8px;
	color:#333;
	outline:none;
}

form .field.field-group {
	display:flex;
}

form .field.field-group input:nth-child(1){
	width:100%;
	border-radius:5px 0px 0px 5px;
	border-right:none;
}

form .field.field-group input:nth-child(2){
	border-radius:0px 5px 5px 0px;
}

form .field:not(:first-of-type){
	margin-top:12px;
}

.webAppForm__error {
	margin:12px 0px;
	padding:8px;
	background:#e74c3c;
	border-radius:5px;
	color:#fff;
	display:none;
}

.webAppForm__loading {
	position:absolute;
	background:rgba(255,255,255,.8);
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:5px;
	z-index:5;
	display:none;
}

.webAppForm__loading img {
	position:relative;
	width:120px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

form .divisory {
	border-top:solid 1px #e3e3e3;
	margin:12px 0;
}

/*
 * Page Initial
 */
#webAppBox-schools {
	padding:0px !important;
}

#webAppBox-schools .title {
	padding:12px;
	color:#333;
	font-size:26px;
	font-weight:600;
	border-bottom:solid 1px #eaeaea;
}

#webAppBox-schools .content {
	padding:12px;
}

#webAppBox-newSchool {
	margin-top:12px;
}

.webAppBox-school {
	position:relative;
	padding:8px 0px;
}

.webAppBox-school .image {
	display:inline-block;
	vertical-align:middle;
}

.webAppBox-school .image .status {
	position:absolute;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#eee;
	margin-top:-15px;
	margin-left:40px;
}

.webAppBox-school .image .status.status-active {
	background-color:#26de81;
	animation:pulse-active 2s infinite;
}

.webAppBox-school .image .status.status-notActive {
	background-color:#ff5252;
}

.webAppBox-school .image img {
	width:54px;
}

.webAppBox-school .info {
	display:inline-block;
	margin-left:12px;
	max-width:calc(100% - 108px);
	vertical-align:middle;
}

.webAppBox-school .info a {
	color:#333;
	font-weight:600;
	text-decoration:none;
}

.webAppBox-school .buttons {
	position:absolute;
	right:0px;
	top:50%;
	transform:translate(0px, -50%);
}

.webAppBox-school .buttons img {
	width:34px;
	cursor:pointer;
}

.webAppBox-school:not(:first-of-type) {
	border-top:1px dashed #ebedf0;
}

@keyframes pulse-active {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(38, 223, 130, .7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(38, 223, 130, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(38, 223, 130, 0);
	}
}

/*
 * Page Dashboard
 */
#dashboard-info {
	padding:24px 0 12px !important;
}

#dashboard-info .info {
	padding: 0 24px;
	display: inline-block;
	text-align:center;
}

#dashboard-info .info p:nth-child(2){
	margin-top:2px;
	font-size:33px;
	color:#0878dd;
}

#dashboard-info .info p:nth-child(1){
	font-size:21px;
	font-weight:600;
	color:#333;
}

#dashboard-info .info:not(:first-child){
	border-left: solid 2px #f0eff6;
}

/*
 * Page Schools
 */
#schools {
	display:flex;
	flex-wrap:wrap;
}

#schools .school {
	display:flex;
	flex:0 0 100%;
	padding:8px;
}

#schools .school:not(:first-child) {
	border-top:solid 1px #eee;
}

#schools .school .image {
	margin-right:8px;
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#schools .school .image img {
	width:52px;
}

#schools .school .title {
	display:flex;
	flex:1 0 0;
	color:#333;
	font-size:18px;
	align-items:center;
}

#schools .school .buttons {
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#schools .school .buttons a {
	margin:0px 6px;
}

#schools .school .buttons img {
	width:21px;
}

#webAppForm-school {
	margin:6px 6px;
}

/*
 * Page Classes
 */
#classes {
	display:flex;
	flex-wrap:wrap;
}

#classes .classe {
	display:flex;
	flex:0 0 100%;
	padding:8px;
}

#classes .classe:not(:first-child) {
	border-top:solid 1px #eee;
}

#classes .classe .image {
	margin-right:8px;
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#classes .classe .image img {
	width:52px;
}

#classes .classe .info {
	display:flex;
	flex:1 0 0;
	color:#333;
	align-items:center;
}

#classes .classe .info p {
	display:grid;
	margin:6px;
}

#classes .classe .buttons {
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#classes .classe .buttons a {
	margin:0px 6px;
}

#classes .classe .buttons img {
	width:21px;
}

#webAppForm-classe {
	margin:6px 6px;
}

/*
 * Page Students
 */
#students {
	display:flex;
	flex-wrap:wrap;
}

#students .student {
	display:flex;
	flex:0 0 100%;
	padding:8px;
}

#students .student:not(:first-child) {
	border-top:solid 1px #eee;
}

#students .student .image {
	margin-right:8px;
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#students .student .image img {
	width:52px;
}

#students .student .info {
	display:flex;
	flex:1 0 0;
	color:#333;
	align-items:center;
}

#students .student .info p {
	display:grid;
	margin:6px;
}

#students .student .buttons {
	display:flex;
	flex:0 0 0;
	align-items:center;
}

#students .student .buttons a {
	margin:0px 6px;
}

#students .student .buttons img {
	width:21px;
}

#webAppForm-student {
	margin:6px 6px;
}

/*
 * Box Error
 */
.webAppBox__error {
	margin:8px;
}

.webAppBox__error .title {
	font-size:26px;
    color:#333;
}

.webAppBox__error .content {
	margin-top:12px;
}