* {
	padding:0px;
	margin:0px;
	font-family:Roboto;
	box-sizing:border-box;
}

.webAppMain__container {
	width:1024px;
	max-width:100%;
	margin:0px auto;
}

/*
 * Sistema de Form
 */
form .field label {
	display:block;
	font-size:15px;
	font-weight:600;
	letter-spacing:2px;
	margin-bottom:4px;
	margin-left:4px;
}

form .field input {
	width:100%;
	padding:8px;
	border:solid 1px #eee;
	border-radius:5px;
	outline:none;
}

form .field:not(:first-of-type){
	margin-top:12px;
}

form .webAppForm__error {
	margin:12px 0px;
	padding:8px;
	background: #e74c3c;
	border-radius:5px;
	color:#fff;
	display:none;
}

form .webAppForm__loading {
	position:absolute;
	background:rgba(255,255,255,.8);
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:5px;
	z-index:5;
	display:none;
}

form .webAppForm__loading img {
	position:relative;
	width:120px;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

form .divisory {
	border-top:solid 1px #e3e3e3;
	margin:12px 0;
}

/*
 * Css Global
 */
#webApp-main {
	padding:0px 8px;
}

.link {
	color:#0878dd;
	text-decoration:none;
	transition:.4s;
}

.link:hover {
	color:#cee543;
}

/*
 * Buttons
 */
.btn {
	outline:none;
	cursor:pointer;
	border-radius:5px;
	font-size:18px;
	transition:.4s;
}

.btn.btn-success {
	background:#28a745;
	color:#fff;
}

.btn.btn-success:hover {
	background:#2ab64f;
}

/*
 * Pagina de Login
 */
#webAppPage-login {
	background:linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(69,163,219,0.6446953781512605) 50%, rgba(0,212,255,1) 100%);
}

#webApp-login {
	position:relative;
	top:80px;
	width:380px;
	padding:16px;
	border-radius:5px;
	background:#fff;
	max-width:100%;
}

#webApp-login .logo img {
	max-width:100%;
}